<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
  <head>
    <title>HOME</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />

    <!-- load bootstrap and fontawesome via CDN -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/bootstrap.css?v=2"
    />
 
    <link rel="icon" href="assets/img/tossed_logo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <script
      type="text/javascript"
      src="scripts/libraries/angular.min.js"
    ></script>
 
    <script
    type="text/javascript"
    src="scripts/libraries/angular-route.min.js"
  ></script>

  <script
  type="text/javascript" 
  src="scripts/libraries/angular-animate.min.js"
></script>







    <!-- load angular via CDN -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config/routes.js"></script>

  </head>
  <body ng-controller="mainController">
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
        
            <img
              ng-src="{{fech_all_image.img}}"
              class="imgheader"
              alt=""
              width="30"
              height="24"
              class="d-inline-block align-text-top"
            />
          
        </div>
      </nav>
    </header>
    <div class="container-fluid size pbcontainer">
      <div class="row prowcard">
        <p class="font-monospace fw-bold fs-1">{{title}}</p>
      </div>
      <div class="row prowcard">
        <div class="btn-group divbtngroup" role="group">
          <button type="button" class="btn btngroup">{{btngroupall}}</button>
          <button type="button" class="btn btngroup">{{btngroups}}</button>
          <button type="button" class="btn btngroup">{{btngroupw}}</button>
          <button type="button" class="btn btngroup">{{btngroupg}}</button>
          <button type="button" class="btn btngroup">{{btngroupd}}</button>
        </div>
      </div>
      <div class="row prowcard pbcontainer">
        <div class="col-md-8">
        <small class="price">{{filter}}</small>
        <span class="badge bg-light text-dark opcard">{{opcard10}}</span>
        <span class="badge bg-light text-dark opcard">{{opcard11}}</span>
        <span class="badge bg-light text-dark opcard">{{opcard12}}</span>
      </div>
      <div class="col-md-4">
        <button class="btnmenu" type="button">{{btnmenu}}</button>
      </div>
  
  </div>







      <div class="row prowcard">
        <div class="col-md-4">
     
          <div class="card ccard" ng-c>

            <img
              ng-src="{{fech_all_image.img1}}"
              class="card-img-top imgcard"
              alt="..."  ng-click="displayDetails(1)"
            />
            <div class="card-body">
              <p class="card-title titlecard">{{tcard}}</p>
              <small class="price">{{pcard}}</small>
              <span class="badge bg-light text-dark opcard">{{opcard8}}</span>
              <span class="badge bg-light text-dark opcard">{{opcard7}}</span>
            </div>
          </div>
       
        </div>
        <div class="col-md-4">
          <div class="card ccard">
            <img
              ng-src="{{fech_all_image.img1}}"
              class="card-img-top imgcard "
              alt="..." ng-click="displayDetails(2)"
            />
            <div class="card-body">
              <p class="card-title titlecard">{{tcard}}</p>
              <small class="price">{{pcard}}</small>
              <span class="badge bg-light text-dark opcard">{{opcard6}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card ccard">
            <img
              ng-src="{{fech_all_image.img1}}"
              class="card-img-top imgcard"
              alt="..." ng-click="displayDetails(3)"
            />
            <div class="card-body">
              <p class="card-title titlecard">{{tcard}}</p>
              <small class="price">{{pcard}}</small>
              <span class="badge bg-light text-dark opcard">{{opcard}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-4 pbcard">
          <div class="card ccard">
            <img
              ng-src="{{fech_all_image.img1}}"
              class="card-img-top imgcard"
              alt="..." ng-click="displayDetails(4)"
            />
            <div class="card-body">
              <p class="card-title titlecard">{{tcard}}</p>
              <small class="price">{{pcard}}</small>
              <span class="badge bg-light text-dark opcard">{{opcard2}}</span>
              <span class="badge bg-light text-dark opcard">{{opcard}}</span>
              <span class="badge bg-light text-dark opcard">{{opcard3}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 pbcard">
          <div class="card ccard">
            <img
              ng-src="{{fech_all_image.img1}}"
              class="card-img-top imgcard"
              alt="..." ng-click="displayDetails(5)"
            />
            <div class="card-body">
              <p class="card-title titlecard">{{tcard}}</p>
              <small class="price">{{pcard}}</small>
              <span class="badge bg-light text-dark opcard">{{opcard4}}</span>
              <span class="badge bg-light text-dark opcard">{{opcard9}}</span>
              <span class="badge bg-light text-dark opcard">{{opcard5}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 pbcard">
          <div class="card ccard">
            <img
              ng-src="{{fech_all_image.img1}}"
              class="card-img-top imgcard"
              alt="..." ng-click="displayDetails(6)"
            />
            <div class="card-body">
              <p class="card-title titlecard">{{tcard}}</p>
              <small class="price">{{pcard}}</small>
              <span class="badge bg-light text-dark opcard">{{opcard3}}</span>
              <span class="badge bg-light text-dark opcard">{{opcard2}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer1 size pt-2">
      <div class="container-fluid">
        <div class="row pfoteremail">
          <div class="col-md-10 footer-copyright">
            <p class="fotertxt">{{header}}</p>
          </div>
          <div class="col-md-2">
            <button class="btnhelp" type="button">{{btnhelp}}</button>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<script src="views/assets/js/bootstrap/bootstrap.min.js"></script>
