<body ng-controller="mainController" class="body">
  <header class="header"></header>
  <div class="divtitle">
   <label class="texttitle" > {{title}} </label>
  </div>


  <div>
    <div class="rectangle5">
    <span class="rectangle5text">{{btngroupall}}</span>
    </div>
    <div class="rectangle6">
      <span class="rectangle6text">{{btngroups}}</span>
    </div>
    <div class="rectangle7">
      <span class="rectangle7text">{{btngroupw}}</span>
    </div>
    <div class="rectangle8">
      <span class="rectangle8text">{{btngroupg}}</span>
    </div>
    <div class="rectangle9">
      <span class="rectangle9text">{{btngroupd}}</span>
    </div>
  </div>
  <div class="filter">{{filter}}</div>
  <div class="filterg"></div>
  <div class="filterg21"></div>
  <div class="filterg16"></div>
  <div class="filterg18"></div>
  <div class="component4"></div>
  <div class="divmenu"><span class="divmenutext">{{btnmenu}}</span></div>

  <div>
     <a ng-click="clickMe(p)" ng-class="{active : isSelected(p)}"> 
    <div class="vecto1">
      <div class="vecto1img"></div>
      <div class="vector1d">{{tcard}}</div>
      <div class="vectprice">{{pcard}}</div>
      <div class="vecttyp1"></div>
      <div class="vecttyp2"></div>
    </div>
    </a>
 <a ng-click="clickMe(p)" ng-class="{active : isSelected(p)}"> 
    <div class="vecto2">
      <div class="vecto2img"></div>
      <div class="vector2d">{{tcard}}</div>
      <div class="vectprice2">{{pcard}}</div>
      <div class="vecttyp12"></div>
      <div class="vecttyp22"></div>
    </div>
    </a>

    <div class="vecto3">
      <div class="vecto3img"></div>
      <div class="vector3d">{{tcard}}</div>
      <div class="vectprice3">{{pcard}}</div>
      <div class="vecttyp13"></div>
      <div class="divdisable"><span class="txtdis">{{txtdisable}}</span></div>
    </div>
   
 <a ng-click="clickMe(p)" ng-class="{active : isSelected(p)}"> 
    <div class="vecto4">
      <div class="vecto4img"></div>
      <div class="vector4d">{{tcard}}</div>
      <div class="vectprice4">{{pcard}}</div>
      <div class="vecttyp14"></div>
      <div class="vecttyp24"></div>
      <div class="vecttyp3"></div>
    </div>
    </a>
 <a ng-click="clickMe(p)" ng-class="{active : isSelected(p)}"> 
    <div class="vecto5">
      <div class="vecto5img"></div>
      <div class="vector5d">{{tcard}}</div>
      <div class="vectprice5">{{pcard}}</div>
      <div class="vecttyp15"></div>
      <div class="vecttyp25"></div>
      <div class="vecttyp35"></div>
    </div>
    </a>

    <div class="vecto6">
      <div class="vecto6img"></div>
      <div class="vector6d">{{tcard}}</div>
      <div class="vectprice6">{{pcard}}</div>
      <div class="vecttyp16"></div>
      <div class="vecttyp17"></div>
      <div class="divdisable6"><span class="txtdis6">{{txtdisable}}</span></div>
    </div>
  
 <a ng-click="clickMe(p)" ng-class="{active : isSelected(p)}"> 
    <div class="vecto7">
      <div class="vecto7img"></div>
      <div class="vector7d">{{tcard}}</div>
      <div class="vectprice7">{{pcard}}</div>
      <div class="vecttyp17"></div>
      <div class="vecttyp27"></div>
      <div class="vecttyp37"></div>
    </div>
    </a>
 <a ng-click="clickMe(p)" ng-class="{active : isSelected(p)}"> 
    <div class="vecto8">
      <div class="vecto8img"></div>
      <div class="vector8d">{{tcard}}</div>
      <div class="vectprice8">{{pcard}}</div>
      <div class="vecttyp18"></div>
      <div class="vecttyp28"></div>
      <div class="vecttyp38"></div>
    </div>
    </a>

    <div class="vecto9">
      <div class="vecto9img"></div>
      <div class="vector9d">{{tcard}}</div>
      <div class="vectprice9">{{pcard}}</div>
      <div class="vecttyp19"></div>
      <div class="vecttyp19"></div>
      <div class="divdisable9"><span class="txtdis9">{{txtdisable}}</span></div>
   

      <div class="up"></div>
      <div class="down"></div>
    </div>
  </div>

  <div class="rectangle11">
    <p class="email">{{header}}</p>
    <button class="btnhelp">
      <span class="texthelp1">{{btnhelp1}}</span>
      <span class="texthelp">{{btnhelp}}</span>
    </button>
  </div>
</body>
